.footer-container{
    max-width: 1170px;
    margin: auto;
    background-color: #24262b;
}
.footer-col ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footerPage{
    background-color: #24262b;
    padding: 10px 0 10px 0;
    /* bottom: 0;
    width: 100%;
    position: absolute; */
}
.copyright p{
    color: #fff;
    border-top: #e91e63 solid 1px;
    padding-top: 5px;
    text-align: center;
    background-color: #24262b;
}

.footer-col{
    width: 20%;
    padding: 0 15px 10px 15px;
    background-color: #24262b;
}
.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
    background-color: #24262b;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col h5{
    font-size: 16px;
    color:#fff;
}
.footer-col h5 a{
    color: #bbb;
    text-decoration: none;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #bbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
    background-color: #24262b;
}
.footer-col ul li a:hover{
    color: #fff;
    padding-left:8px;
}
.footer-col .social-links a{
    /* display: inline-block;
    height: 40px;
    width: 40px;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease; */
    color: #fff;
    text-decoration: none;
}